	<ul class="list-group">
<% if @assignments %>
<%= will_paginate @assignments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,class: "page-link" %>
<% assignments.each do |a| %>

	<% if Time.now.strftime("%d/%m/%y") >= a.dead_line.strftime("%d/%m/%y") %>
		<li class= "list-group-item list-group-item-danger assignment"><%= link_to "#{a.description}", project_assignment_path(@project.id,a.id) %> | Deadline: <%= a.dead_line.strftime('%dth %B %Y (%A)') %> 
			
			<% if a.created_at.strftime('%d/%B/%Y') == Time.now.strftime("%d/%B/%Y") %>
					<span class="badge badge-primary">Today</span>
			<% end %>
					
			 <% if a.accepted == true %>  <span style="float: right">accepted <%= fa_icon "thumbs-up" %></span><% end %>

				 <% if a.rejected == true %>  <span style="float: right">rejected <%= fa_icon "thumbs-down" %></span> <% end %>

				 <% if a.completed == true && a.rejected == false && a.accepted == false %>
						<span style="float: right">In checking <%= fa_icon "check" %></span>
				 <% end %>
	
		</li>
		<br/>	
	<% else %>
		<li class= "list-group-item list-group-item-primary assignment"><%= link_to "#{a.description}", project_assignment_path(@project.id,a.id) %> | Deadline: <%= a.dead_line.strftime('%dth %B %Y (%A)')  %> 

			<% if a.created_at.strftime('%d/%B/%Y') == Time.now.strftime("%d/%B/%Y") %>
					<span class="badge badge-primary">Today</span>
			<% end %>

			 <% if a.accepted == true %>  <span style="float: right">accepted <%= fa_icon "thumbs-up" %></span><% end %>

				 <% if a.rejected == true %>  <span style="float: right">rejected <%= fa_icon "thumbs-down" %></span> <% end %>

				  <% if a.completed == true && a.rejected == false && a.accepted == false %>
						<span style="float: right">In checking <%= fa_icon "check" %></span>
				 <% end %>
		
		</li>
		<br/>	
	<% end %>
	
	<% end %>

	
<% end %>


</ul>