	<h2 align="center"><%= @user.first_name + " " + @user.last_name %>'s assignments</h2> <br>

<h4 align="center">Completed</h4>


	
	<%= render 'assignments/admin_show', assignments: @assignment_accepted if @assignment_accepted %><br/>



	


<h4 align="center">Completed but not accepted</h4>

	
	
	<%= render 'assignments/admin_show', assignments: @assignment_completed if @assignment_completed %><br/>





	<h4 align="center">Incomplete</h4>
	<%= render 'assignments/admin_show', assignments: @assignments if @assignments %>


<%= will_paginate @assignments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,class: "page-link" %>
