
 	<input type="text"  value="<%= params[:id] %>" id="assignment" readonly hidden>
 	<input type="text"  value="<%= params[:project_id] %>" id="project_id" readonly hidden>

 <h4 align="center">Task: <%= shorten_string_high(@a.description) %><% if @a.description.gsub(/\s+/, '').size > 29 %><span class="more">more</span><% end %><% if @a.label && @a.user == current_user %>(<%= @a.label %>) <% end %></h4> <br/>
<% if @a.accepted == true %>

<h4 align="center" class="alert alert-success"> Accepted by Project Manager</h4>

<% elsif @a.rejected == true %>
		<h4 align="center" class="alert alert-danger"> Rejected by Project Manager</h4>
<% end %>
 <div class="show_progress">

	
<% if Time.now.strftime("%d/%m/%Y") >= @a.dead_line.strftime("%d/%m/%Y")%>
				<h4 align="center">Deadline already over(deadline: <%= @a.dead_line.strftime("%d/%m/%Y")%>)</h4><br/>

				<%= render 'assignments/progressbar_finish'%><br/>
<% else %>
	<%= render 'assignments/progressbar'%>
<% end %>


<% if @a.user == current_user %>
<div class="search_area">

  <%= form_tag  add_label_path,method: :post do %>
	
		<label for="label">Label</label>
		<div class="form-group row">
			<div class="col-sm-3 no-right-padding">
			
			

				<%= select_tag "label", options_for_select([ "Completed", "In progress","Almost done", "Half done", "Starts from tomorrow"],@a.label),placeholder: "Select rank", class: "form-control form-control-lg"  %>
			</div>
				







  				<%= text_field_tag :project, params[:project_id], value: params[:project_id],hidden: true %>

  				<%= text_field_tag :assignment, params[:assignment_id], value: params[:id],hidden: true %>






			<div class="col-sm-2 no-left-padding">
				<%= button_tag type: :submit, class: "btn btn-primary" do %>
						<%= fa_icon "plus 2x" %>
				<% end %>
			</div>



		</div>

	<% end %>
</div>

<% if (@a.completed != true  && @a.accepted != true && @a.rejected == true) || (@a.completed != true && @a.accepted != true && @a.rejected != true ) %>
	<%= link_to "Submit Assignment", completed_path(@a.id), method: :post, class: "d-block p-2 bg-success text-white add_margin_above center_text", id: "remove_text_decoration" %>

	<% elsif (@a.completed != true && @a.accepted == true && @a.rejected == false) || (@a.accepted == true && @a.completed == true && @a.rejected == false) %>
			
	<% else %>
		<a class="d-block p-2 bg-success text-white add_margin_above center_text" id="remove_text_decoration" disabled>In checking</a><br/>
<% end %>
<% else %>

<% if @a.completed == true %>
<%= link_to "Accept", accept_assignment_path(@a.id), method: :post, class: "d-block p-2 bg-success text-white add_margin_above center_text", id: "remove_text_decoration" %>

<%= link_to "Reject", reject_assignment_path(@a.id), method: :post, class: "d-block p-2 bg-danger text-white add_margin_top_little center_text", id: "remove_text_decoration" %>
<!-- Button trigger modal -->
<button type="button" class="d-block p-2 bg-primary text-white add_margin_top_little center_text ratings" data-toggle="modal" data-target="#exampleModal">
  Give Ratings
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ratings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        		  <div class='rating-stars text-center'>
    <ul id='stars'>
      <li class='star' title='Poor' data-value='1'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Fair' data-value='2'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Good' data-value='3'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Excellent' data-value='4'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='WOW!!!' data-value='5'>
        <i class='fa fa-star fa-fw'></i>
      </li>
    </ul>
  </div>
        	
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" id="rate-it">Rate it</button>
      </div>
    </div>
  </div>
</div>

<% end %>

<% end %>

<% if @a.completed == true%>
<% if @a.rating %>
<%= render 'assignments/stars'%>
<input type="number"  value="<%= @a.rating %>" id="rating-id" readonly hidden>
<% end %>
<% end %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" id="description-show"hidden>
  description
</button>

<div class="modal scroll" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="description-show">
        <%= @a.description %>
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





		
