 
 <h4 align="center">Task: <%= @a.description %> <% if @a.label %>(<%= @a.label %>) <% end %></h4> 

 <div class="show_progress">

	

<div class="progress">
  <div class="progress-bar bg-success display-p" role="progressbar" style="width: <%= percentage(@a.start_date,@a.dead_line)  * 100 %>%" aria-valuenow="<%= days_left(@a.dead_line)%>" aria-valuemin="0" aria-valuemax="<%= calculate_days(@a.start_date,@a.dead_line)%>"></div>
</div>
<p style="float: left;">Start Date: <%= @a.start_date.strftime('%d/%m/%Y')%></p>
 <p style="float: right;">End Date: <%= @a.dead_line.strftime('%d/%m/%Y')%></p>
</div>


<div class="search_area">
  <%= form_tag  add_label_path,method: :post do %>
	
		<label for="label">Label</label>
		<div class="form-group row">
			<div class="col-sm-3 no-right-padding">
			
			

				<%= select_tag "label", options_for_select([ "Completed", "In progress","Almost done", "Half done", "Starts from tomorrow"],@a.label),placeholder: "Select rank", class: "form-control form-control-lg"  %>
			</div>
				







  				<%= text_field_tag :project, params[:project_id], value: params[:project_id],hidden: true %>

  				<%= text_field_tag :assignment, params[:assignment_id], value: params[:id],hidden: true %>






			<div class="col-sm-2 no-left-padding">
				<%= button_tag type: :submit, class: "btn btn-primary" do %>
						<%= fa_icon "plus 2x" %>
				<% end %>
			</div>



		</div>

	<% end %>
</div>