 
 <h4 align="center">Task: <%= @a.description %> <% if @a.label && @a.user == current_user %>(<%= @a.label %>) <% end %></h4> <br/>
<% if @a.accepted == true %>

<h4 align="center" class="alert alert-success"> Accepted by Project Manager</h4>

<% elsif @a.rejected == true %>
		<h4 align="center" class="alert alert-danger"> Rejected by Project Manager</h4>
<% end %>
 <div class="show_progress">

	
<% if Time.now.strftime("%d/%m/%Y") >= @a.dead_line.strftime("%d/%m/%Y")%>
				<h4 align="center">Deadline already over(deadline: <%= @a.dead_line.strftime("%d/%m/%Y")%>)</h4><br/>

				<%= render 'assignments/progressbar_finish'%><br/>
<% else %>
	<%= render 'assignments/progressbar'%>
<% end %>


<% if @a.user == current_user %>
<div class="search_area">

  <%= form_tag  add_label_path,method: :post do %>
	
		<label for="label">Label</label>
		<div class="form-group row">
			<div class="col-sm-3 no-right-padding">
			
			

				<%= select_tag "label", options_for_select([ "Completed", "In progress","Almost done", "Half done", "Starts from tomorrow"],@a.label),placeholder: "Select rank", class: "form-control form-control-lg"  %>
			</div>
				







  				<%= text_field_tag :project, params[:project_id], value: params[:project_id],hidden: true %>

  				<%= text_field_tag :assignment, params[:assignment_id], value: params[:id],hidden: true %>






			<div class="col-sm-2 no-left-padding">
				<%= button_tag type: :submit, class: "btn btn-primary" do %>
						<%= fa_icon "plus 2x" %>
				<% end %>
			</div>



		</div>

	<% end %>
</div>

<% if (@a.completed != true  && @a.accepted != true && @a.rejected == true) || (@a.completed != true && @a.accepted != true && @a.rejected != true ) %>
	<%= link_to "Submit Assignment", completed_path(@a.id), method: :post, class: "d-block p-2 bg-success text-white add_margin_above center_text", id: "remove_text_decoration" %>

	<% elsif (@a.completed != true && @a.accepted == true && @a.rejected == false) || (@a.accepted == true && @a.completed == true && @a.rejected == false) %>
			
	<% else %>
		<a class="d-block p-2 bg-success text-white add_margin_above center_text" id="remove_text_decoration" disabled>In checking</a>
<% end %>
<% else %>


<%= link_to "Accept", accept_assignment_path(@a.id), method: :post, class: "d-block p-2 bg-success text-white add_margin_above center_text", id: "remove_text_decoration" %>

<%= link_to "Reject", reject_assignment_path(@a.id), method: :post, class: "d-block p-2 bg-danger text-white add_margin_top_little center_text", id: "remove_text_decoration" %>
<% end %>



		
