<% if @project.memberships.any? %>
<div class="row">
	<div class="col-10">
			<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Rank</th>
      
      <% if @rank == "Admin" || Membership.where(user: current_user, project: @project,rank: "Project Manager").first %>
      <th scope="col">Number of assignments</th>
      <% end %>

    </tr>
  </thead>
  <tbody>
  	<% @project.memberships.each do |s| %>
    <tr>
      
      <td><%= fa_icon 'user'%>  <%= User.find_by(id: s.user_id).first_name + " " + User.find_by(id: s.user_id).last_name %></td>

        <td><%= User.find_by(id: s.user_id).email%></td>

          <td><%= s.rank %> <% if Request.where(user: User.find_by(id: s.user_id),project: @project,accepted: true).first %>
              
                (<%= "Joined by request" %>)

            <% end %>



      
          </td>


        <% if @rank == "Admin" || Membership.where(user: current_user, project: @project,rank: "Project Manager").first %>
          <td>
            <% user = User.find_by(id: s.user_id) %>
            
            <%= link_to  show_assignments_path(user_id: user.id, project_id: @project.id) do %>
          
            <%= user.assignments.where(accepted: false,completed: false).count %>   
            <% if user.assignments.where(accepted: false,completed: false).count > 1 %>
                Assignments

              <% else %>

              Assignment
            <% end %>
            
            <% end %>
            
          </td>

          <% end %>

    </tr>

    <% end %>

  </tbody>
</table>

	</div>
</div>
<% else %>

<div class="row">
  <div class="col-9">
      <h2 class="card card-header">There is no member added yet.</h2>
  </div>
</div>

<% end %>
