<div class="jumbotron jumbotron-fluid color-blue">
  <div class="container">
    <h4 class="display-4" align="center"><strong>Project name</strong>: <%= @project.name %></h4>
    <p class="lead" align="center"><strong>Project description:</strong> <%= @project.description %></p>
  </div>
</div>

<% if @project.users.include? current_user %>
<% if @user_rank == "Project Manager" %>

		<%= render 'projects/project-manager'%>

		<%= link_to requests_path(project: @project) do %>
		<%= fa_icon "handshake-o 2x" %> <button type="button" class="btn btn-primary add_margin">
  		Requests <span class="badge badge-light"><%= @request %></span>
		</button><br/>
		<% end %>


<div id="results">

</div><br/>
<% else %>
	<%= render 'projects/assignment' %>
<% end %>

<% else %>
	<!-- <a href="#" class="btn btn-primary add_margin">Request to be a member</a> -->
	<div id="request-result">
	
	</div>
	<%= render "projects/other-members"%>
	
<% end %>





<%= render "projects/listing" %>




	

